/* Response Row Styling */


.stardewFont {
    font-family: "SDV_font";
    font-size: 1.4em;
}

.rowLabels {
    text-align: center;
    display: flex;
    justify-content: center;
}

.rowLabels > div {
    display: block;
    width:100px;
    height:40px;
    margin: 4px;
    text-align: center;
    line-height: 40px;
}

.responseRow {
    text-align: center;
    display: flex;
    justify-content: center;
}
  
.responseRow > div {
    display: block;
    width:100px;
    height:100px;
    border: 1px solid #bbb;
    margin: 4px;
    text-align: center;
    line-height: 90px;
}

.emptyResponse > div {
    background-color:gray;
}

.validResponse > div {
    /*background-color:#747bff;*/
    border: 1px solid black;
}

.true {
    background-color: #88ce00;
}

.false {
    background-color: #fc1717;
}

.equal {
    background-color: green;
}

.less {
    background-color: aquamarine;
}

.greater {
    background-color: aqua;
}

.partial {
    background-color: orange;
}