/* Response Row Styling */
.responseRow {
    text-align: center;
    display: flex;
    justify-content: center;
}
  
.responseRow > div {
    display: block;
    width:60px;
    height:60px;
    border: 1px solid #bbb;
    margin: 4px;
    text-align: center;
    line-height: 60px;
}

.emptyResponse > div {
    background-color:gray;
}

.validResponse > div {
    /*background-color:#747bff;*/
    border: 1px solid black;
}

.true {
    background-color:green;
}

.false {
    background-color: red;
}

.equal {
    background-color: green;
}

.less {
    background-color: aquamarine;
}

.greater {
    background-color: aqua;
}